/vendor
/__IN
/node_modules
/public/hot
/public/storage
/storage/*.key

.env
.env.*
!.env.example

.idea
.vscode

.DS_Store
Thumbs.db

npm-debug.log
yarn-error.log
/.osp/project.ini
/.github/ISSUE_TEMPLATE/bug_report.md
/.github/ISSUE_TEMPLATE/custom.md
/.github/ISSUE_TEMPLATE/feature_request.md
/.github/workflows/browser-tests.yml
/.github/workflows/larastan.yml
/.github/workflows/lint.yml
/.github/workflows/php-insights.yml
/.github/workflows/run-tests.yml
/.editorconfig
